@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height:100vh;   
    font-family: Balsamiq Sans , sans-serif;
    background-color: #faf8fd;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23e7a189' fill-opacity='0.24'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.7rem;
}
/* loader */
.loader{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(255, 255,255, 0.8);

}

.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* img container */
.image-container{
    margin:10px 30%;
}

.image-container img{
    width: 100%;
    margin-top: 5px;
}

/* media query for large smartphone */
@media screen and (max-width:600px){
    h1{
        font-size: 20px;
    }
    .image-container{
        margin: 10px;
    }
}